<!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h1>PROXIA</h1>
        <h3>Управляем вещами, экономим энергию</h3>
      </header>
      <p>Платформа IoT.СПРУТ. Система интеллектуального энергоменеджмента и интернета вещей</p>
      <ul class="actions">
        <li><a href="#" class="button big">Узнать больше о наших решениях</a></li>
      </ul>
    </div>
    <span class="image object">
      <img src="assets/images/louis-reed-zDxlNcdUzxk-unsplash.jpg" alt="" />
    </span>
  </section>
