<!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h1>PROXIA</h1>
        <h3>Управляем вещами, экономим энергию</h3>
        <p>Платформа IoT.СПРУТ. Система интеллектуального энергоменеджмента и интернета вещей</p>
      </header>
      <p>Aenean ornare velit lacus, ac varius enim ullamcorper eu. Proin aliquam facilisis ante interdum congue. Integer mollis, nisl amet convallis, porttitor magna ullamcorper, amet egestas mauris. Ut magna finibus nisi nec lacinia. Nam maximus erat id euismod egestas. Pellentesque sapien ac quam. Lorem ipsum dolor sit nullam.</p>
      <ul class="actions">
        <li><a href="#" class="button big">Узнать больше о наших решениях</a></li>
      </ul>
    </div>
    <span class="image object">
      <img src="assets/images/louis-reed-zDxlNcdUzxk-unsplash.jpg" alt="" />
    </span>
  </section>
